<h3>Here are all the clients for this stylist:</h3>

<ol>
@foreach (var client in @Model["clients"])
{
  <li><a href='/stylists/@Model["stylists"].GetId()/clients/@client.GetId()'>@client.GetName()</a></li>
}
</ol>

<p><a href='/stylists/@Model["stylists"].GetId()/clients/new'>Add a new Client</a></p>
<p><a href='/stylists'>Return to stylists list</a></p>
<p><a href='/'>Return to Main Page</a></p>
