<h1>Add a new Specialty</h1>

<form action="/specialties" method="post">
    <label for ="description">Add a new Specialty</label>
    <input id="description" name ="description" type="text">
    <button type="submit">Submit</button>
</form>

<p><a href="/">Back Home</a></p>
<p><a href="/specialties">View All Specialties</a></p>